<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382955343319-7b96f0va3395fumvveuq25vso3s6t8e1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382955343319-7b96f0va3395fumvveuq25vso3s6t8e1</string>
	<key>API_KEY</key>
	<string>AIzaSyBsV7SdenQggaKbg8yQrfgjwF1HsaTCpIM</string>
	<key>GCM_SENDER_ID</key>
	<string>382955343319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clean</string>
	<key>PROJECT_ID</key>
	<string>todo-d7ceb</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-d7ceb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382955343319:ios:53288952dfcbeac0724f92</string>
</dict>
</plist>